@model IEnumerable<IndustryTower.Models.Category>
@{var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();}


<div>
        @if(Model !=null)
        {
         <ul>
                @foreach (var child in Model)
                {
                    var catid = EncryptionHelper.Protect(child.catID);
                <li>

                 @Ajax.ActionLink(child.GetType().GetProperty("catName").GetValue(child).ToString(),
                                  "Children",
                                  "Category",
                                  new { parentId = EncryptionHelper.Protect(child.catID.ToString()) },
                                  new AjaxOptions { InsertionMode = InsertionMode.Replace})
                 @using (Html.BeginForm(Resource.delete, "Category", new { catId = catid }, FormMethod.Post))
                 {@Html.ValidationSummary(true)
                            <fieldset>
                                    <div><input type="submit" value="Delete" onclick="return confirm('Are you sure?')" /></div>
                            </fieldset>
                 }
                 @Ajax.ActionLink(Resource.creatChild, "Create", "Category", new { parentId = catid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "third" })
                 @Ajax.ActionLink(Resource.edit, "Edit", "Category", new { catId = catid }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "third" })
                 @Html.Action("Children", "Category", new { parentId = catid })

                </li>
                }
       </ul> 
       }   
  
</div>
<div id="third">

</div>