@model IndustryTower.ViewModels.MailPassResetConfirmationViewModel

<h4 style="font-weight:bold">
   @Model.UserName,
</h4>
<p>
    @Emails.resendPassWord
</p>
<p style="text-align:center;">
    <a href="@Url.Abs(Url.Action("ResetPassword", "Account", new { un = Model.UserName, rt = Model.Token }, "http"))">
        @Resource.passReset
    </a>
</p>






