@model IEnumerable<IndustryTower.Models.Company>
<div id="companiesPartialContainer" class="margin-top-bot-md col-md-12 col-xs-12">
    @foreach (var co in Model)
    {
        @Html.ProfilePic(company: co, linkhtmlAttributes: new { @class = "col-md-1 col-xs-2" })
    }
</div>
