
@{
    ViewBag.Title = Resource.confirmationAlreadyConfirmed;
}

<div class="row">
    <div class="alert alert-info dir col-md-8 col-md-offset-2 margin-top-bot-lg">
        @Resource.confirmationAlreadyConfirmed
    </div>
</div>



