@{
    ViewBag.Title = Resource.register;
}

<div class="row">
    <div class="alert alert-success dir col-md-8 col-md-offset-2 margin-top-bot-lg text-center">
        <strong>
            @Resource.confirmationEmialSent
        </strong>
    </div>
</div>


