@{
    ViewBag.Title = Resource.confirmationError;
}

<div class="row">
    <div class="alert alert-danger dir col-md-8 col-md-offset-2 margin-top-bot-lg text-center">
        <strong>
            @Resource.confirmationError
        </strong>
    </div>
</div>
