
@{
    ViewBag.Title = Resource.passReset;
}


<div class="row">
    <div class="alert alert-info dir col-md-8 col-md-offset-2 margin-top-bot-lg text-center">
        <strong>
            @ViewData["message"]
        </strong>
    </div>
</div>
