@{
    ViewBag.Title = Resource.paySuccessfull;
}


<div class="row dir">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info text-center">
            <h3>
                @Resource.paySuccess
            </h3>
            <h2>
                <strong>
                    @ViewData["paymentId"]
                </strong>
            </h2>
        </div>
    </div>
</div>

