
@{
    ViewBag.Title = ControllerError.error;
}

<div class="row dir">
    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-danger text-center">
            <strong>
                @ControllerError.errorGlobal
            </strong>
        </div>
    </div>    
</div>



