@{
    ViewBag.Title = ControllerError.notFound;
}

<div class="row dir">
    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-danger text-center">
            <strong>
                @ControllerError.errorNotFound
            </strong>
        </div>
    </div>
</div>



